.message pre {
  background-color: #64748b10;
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
}

.message .hljs {
  /*background-color: transparent;*/
  font-size: 0.83em;
}

.message table {
  font-size: 0.6em;
}

.message table thead tr {
  background-color: #64748b40;
  text-align: left;
}

.message table th, .message table td {
  padding: 0.6rem 1rem;
}

.message table tbody tr:last-of-type {
  border-bottom: 2px solid #64748b40;
}

.prose, [prose=""] {
  max-width: 85%;
}


html {
  .hljs {
    color: #383A42;
    background: #fff;
  }
}

html.dark{
  .hljs {
    color: #abb2bf;
    background: #282c34
  }
}

:is([prose=""],.prose) :where(p,ul,ol,pre):not(:where(.not-prose,.not-prose *)) {
  margin: 1em 0;
  line-height: 1.5;
}
